<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>KISAN SEVA</title>



<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<center>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <div class="main_block">
    <div class="header1">
      <div class="header2">
        <div class="smal_menu"> <a href="#">aboutus</a> <img src="images/hd_sbar.gif" alt="" width="1" height="11"/> <a href="#">sitemap</a> <img src="images/hd_sbar.gif" alt="" width="1" height="11"/> <a href="#">contactus</a> </div>
       <!-- <a href="#"><img src="images/logo.gif" alt=" " width="295" height="64" class="logo" /></a> </div>-->
    </div>
    <div class="hd_menu"> <a href="#" style="margin-left:40px;">home</a> <img src="images/menu_blt.gif" alt=" " width="14" height="15"/> <a href="#">about us</a> <img src="images/menu_blt.gif" alt=" " width="14" height="15"/> <a href="#">company</a> <img src="images/menu_blt.gif" alt=" " width="14" height="15"/> <a href="#">solutions</a> <img src="images/menu_blt.gif" alt=" " width="14" height="15"/> <a href="#">support</a> <img src="images/menu_blt.gif" alt=" " width="14" height="15"/> <a href="#">contact us</a> </div>
    <div class="center">
      <div class="center1"> <img src="images/cp_our.gif" alt=" " width="156" height="22" class="cp_our"/> <img src="images/cp_img1.gif" alt=" " width="86" height="82" class="cp_img1"/> <span class="cp_text1"> We provide platform for farmers. <a href="#">Farmers can use this portal.</a> Farmers can come here and provide details according to there area, after that they will get predicted crops according to there area. Predicted crops will help farmers to increse there yield.  <br/>
        <br/>
        
        <p> Enter fields mentioned below</p>
        <form action="{{ url_for('predict')}}"method="post">
          <input type="text" name="temperature" placeholder="Temperature" required="required" />
            <input type="text" name="humidity" placeholder="Humidity" required="required" />
        <input type="text" name="ph" placeholder="Ph" required="required" />
        <input type="text" name="rainfall" placeholder="Rainfall" required="required" />
    
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>
        <br/>
        <br/>
        
        
        <form action="{{ url_for('banks')}}"method="post">
          <button type="submit" class="btn btn-primary btn-block btn-large">Banks for loans</button>
  </form>
        <br>
        <br>

        
        {% autoescape false %}
    {{prediction_text}}
{% endautoescape %}

     
      
    
</center>
</body>
</html>
